<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="db_connection_string" value="Data Source=(local);Initial Catalog=leyyin;Integrated Security=SSPI;"/>
        
        <add key="parent_table" value="users" />
        <add key="parent_id_name" value="id" /> <!-- the PK column name -->
        <add key="parent_select_columns" value="username, password_hash, name"/>

        <add key="child_table" value="emails" />
        <add key="child_id_name" value="id" /> <!-- the PK column name -->
        <add key="child_parent_id_name" value="user_id" /> <!-- the column in the child table that points to the parent -->
        <add key="child_select_columns" value="email"/>
        <add key="child_edit_columns" value="Email=email" /> <!-- all the columns we can edit separated by semicolon -->
    </appSettings>
</configuration>