[submodule "software-engineering"]
	path = software-engineering
	url = git@github.com:leyyin/university-SE.git
[submodule "group-project"]
	path = group-project
	url = git@github.com:vampy/university-PC.git
[submodule "audio-video/project-code"]
	path = audio-video/project-code
	url = git@github.com:vampy/university-AVDP.git
